version: "3.8"

services:
  
#    mssql:
#      image: mcr.microsoft.com/mssql/server:2019-latest
#      ports:
#        - 1433:1433
##      volumes:
##        - ./mssql/data:/var/lib/mssqlql/data
#      environment:
#        - ACCEPT_EULA=Y
#        - SA_PASSWORD=mssql1Ipw
#  db:
#    image: mysql:5.7
#    container_name: db
#    environment:
#      MYSQL_ROOT_PASSWORD: mysql123
#      MYSQL_DATABASE: meetup
#      MYSQL_USER: mysql
#      MYSQL_PASSWORD: mysql123
#    ports:
#      - "3306:3306"
#    volumes:
#      - ./dbdata/mysqlData:/var/lib/mysql
#volumes:
#  dbdata:
  db:
    image: postgres:14.2-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5432:5432"
      ## to connect from outside of the docker-internal network
    volumes:
      - ./database_data/PG_DATA:/var/lib/postgresql/data
    hostname: localhost